body {
    background-color: hsl(180, 47%, 48%);
}

#root{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 12px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: solid 2px;
}

ul {
    text-align: center;
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}